/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.title{
  margin-top: 15px;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.container_col {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1020px) {
  .column{
    flex: 100%;
    margin-bottom: 20px;
  }
}

